# Конфигурация базы данных
DATABASE_HOST=https://openweathermap.org/
DATABASE_USER=username                     # Имя пользователя базы данных
DATABASE_PASSWORD=password                 # Пароль базы данных
DATABASE_NAME=сайт прогноз погоды для выгрузки данных      # Имя базы данных

# API-ключи
API_KEY=your_api_key_here

#- - - - - - - - - - - - - - - - - - - - - - -

# Конфигурация базы данных
DATABASE_HOST=https://marketplace.apilayer.com/exchangerates_data-api  # Хост для базы данных
DATABASE_USER=username                                                 # Имя пользователя базы данных
DATABASE_PASSWORD=password                                             # Пароль базы данных
DATABASE_NAME=-                                                        # Имя базы данных

# API-ключи
API_KEY=your_api_key_here